/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \*****************************************************************/
@font-face {
    font-family: 'switch';
    src: url(fonts/switch.woff2) format("woff2"),
        url(fonts/switch.woff) format("woff");
}

body {
    margin: 0;
    padding: 0;
}


